{% extends 'base.html.twig' %}


{% block body %}

<div>
    <nav>
        <a href="{{ path('home_index') }}">home page</a>
        <a href="{{ path('lucky_index') }}">lucky page</a>
        <a href="{{ path('product_create') }}">create product</a>
    </nav>
</div>


<h1>Products page</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>description</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
        <a href="{{ path('product_show', {'id': product.id}) }}">
            <td>{{ product.name }}</td>
        </a>
            <td>{{ product.price }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.description }}</td>
            <td><a href="{{ path('product_edit', {'id': product.id}) }}">Edit</a>
            <a href="{{ path('product_delete', {'id': product.id}) }}">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
 </table>



{% endblock %}
